Package    Version
---------- -------
attrs      20.3.0
behave     1.2.6
iniconfig  1.1.1
packaging  20.8
parse      1.18.0
parse-type 0.5.2
pip        20.3.1
pluggy     0.13.1
py         1.10.0
pyparsing  2.4.7
pytest     6.2.0
selenium   3.141.0
setuptools 50.3.2
six        1.15.0
toml       0.10.2
urllib3    1.26.2
